<div class="contact-container" ng-controller="contactCtrl">
    <p>Contact</p>

    <uib-tabset active="active" justified="true">
        <uib-tab index="0" heading="Information" >
            <form name="information">

                <label for="firstname">First Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="firstname" placeholder="Firstname" aria-describedby="basic-addon1" ng-model="firstName">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                </div>
                <br>

                <label for="lastname">Last Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="lastname" placeholder="Lastname" ng-model="lastName">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                </div>
                <br>

                <label for="email">Email</label>
                <div class="input-group">
                    <input type="email" class="form-control" id="email" placeholder="Email" ng-model="email">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                </div>
                <br>

                <label for="phone">Phone</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="phone" placeholder="Phone" ng-model="phone">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                </div>
                <br>

                <label for="state">State</label>
                <select name="selectState" class="form-control" id="state" ng-model="optionState">
                    <option value="">-- choose state --</option>
                    <option ng-repeat="option in states.locations" value="{{option.title}}">{{option.title}}</option>
                </select>
                <br>
                <hr />
                <br>
                <button type="button" class="btn btn-primary">Next</button>


            </form>
        </uib-tab>

        <uib-tab index="1" heading="Query">
            <form name="query">

                <div class="query-title">
                    <label for="title">Title</label>
                    <input type="text" id="title" class="form-control" ng-model="title">
                </div>
                <br>

                <div class="query-content">
                    <label for="content">Content</label>
                    <textarea id="content" class="form-control" rows="5" ng-model="content"></textarea>
                </div>
                <br>

                <div class="query-catetory">
                    <label for="category">Catetory</label>
                    <select ng-options="option.title for option in queryCategories.categories track by option.value" id="category" ng-model="queryTempCategory" class="form-control"></select>
                </div>
                <br>
                <div>
                    <h4>Default</h4>
                    <uib-rating ng-model="rate" max="max" on-hover="hoveringOver(value)" on-leave="rateLeave()" ></uib-rating>
                    <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}">{{percent}}%</span>

                    <br>
                    <button type="button" class="btn btn-sm btn-danger" ng-click="" >Clear</button>
                    <hr />
                </div>

                <br>
                <br>
                <button class="btn btn-primary">Next</button>
            </form>
        </uib-tab>

        <uib-tab index="2" heading="Confirmation">
            <hr>
            <h1>Information</h1>
            <div>
                First Name: {{firstName}}
            </div>

            <div>
                Last Name: {{lastName}}
            </div>

            <div>
                Email: {{email}}
            </div>

            <div>
                Phone: {{phone}}
            </div>

            <div>
                State: {{optionState}}
            </div>

            <hr>
            <h1>Query</h1>
            <div>
                Title: {{title}}
            </div>

            <div>
                Content: {{content}}
            </div>

            <div>
                Catetory: {{queryTempCategory.title}}
            </div>

            <div>
                Priority: {{rate*10}}%
            </div>
            <hr/>

            <button class="btn btn-primary">Mail</button>

        </uib-tab>

    </uib-tabset>

</div>