<div class="contact-container" ng-controller="contactCtrl">
    <p>Contact</p>

    <uib-tabset active="active">
        <uib-tab index="0" heading="Information">
            <form name="information">

                <label for="username">First Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="username" placeholder="Username" aria-describedby="basic-addon1">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                </div>


                <label for="lastname">Last Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="lastname" placeholder="Lastname">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                </div>

                <label for="email">Email</label>
                <div class="input-group">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                </div>

                <label for="phone">Phone</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="phone" placeholder="Phone">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                </div>

                <label for="state">State</label>
                <select name="selectState" class="form-control" id="state" ng-model="states">
                    <option ng-repeat="option in states.locations" value="{{option.title}}">{{option.title}}</option>
                </select>


            </form>
        </uib-tab>

        <uib-tab index="1" heading="Query">

        </uib-tab>

        <uib-tab index="2" heading="Confirmation">

        </uib-tab>

    </uib-tabset>

</div>