<div class="contact-container" ng-controller="contactCtrl">
    <p>Contact</p>

    <uib-tabset active="active">
        <uib-tab index="0" heading="Information">
            <form name="information">

                <label for="username">First Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="username" placeholder="Username" aria-describedby="basic-addon1">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                </div>


                <label for="lastname">Last Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="lastname" placeholder="Lastname">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                </div>

                <label for="email">Email</label>
                <div class="input-group">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                </div>

                <label for="phone">Phone</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="phone" placeholder="Phone">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                </div>

                <label for="state">State</label>

                <select name="selectState" class="form-control" id="state">
                    <option value="">-- choose state --</option>
                    <option ng-repeat="option in states.locations" value="option.title">{{option.title}}</option>
                </select>

                <!-- another way use ng-option -->
                <!--<select>-->
                    <!---->
                <!--</select>-->
                <br>
                <button type="button" class="btn btn-primary">Next</button>


            </form>
        </uib-tab>

        <uib-tab index="1" heading="Query">
            <form name="query">
                <label for="title">Title</label>
                <div class="query-title">
                    <input type="text" id="title" class="form-control">
                </div>

                <label for="content">Content</label>
                <div class="query-content">
                    <input type="text" id="content" class="form-control">
                </div>

                <label for="category">Catetory</label>
                <div class="query-catetory">
                    <select ng-options="option.title for option in queryCategories.categories track by option.value" id="category" ng-model="queryTempCategory" class="form-control"></select>
                </div>

                <!--<label for="priority">Priority</label>-->
                <!--<div class="query-priority">-->

                <!--</div>-->

                <!--<div style="padding-top:25px;">-->
                    <!--<label for="priority">Priority</label>-->
                    <!--<uib-rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>-->
                    <!--<span id="priority" class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>-->
                <!--</div>-->

                <button>Next</button>
            </form>
        </uib-tab>

        <uib-tab index="2" heading="Confirmation">

        </uib-tab>

    </uib-tabset>

</div>