<div class="modal-header">
    <h3>Edit the item:</h3>
</div>

<div class="modal-body">
    <label for="imageURL">Image URL</label>
    <input class="form-control" id="imageURL" ng-model="editWorkImage">
    <label for="imageTitle">Image Title</label>
    <input class="form-control" id="imageTitle" ng-model="editWorkTitle">
    <label for="imageAuthor">Image Author</label>
    <input class="form-control" id="imageAuthor" ng-model="editWorkAuthor">

</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="submit()">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>