<div class="login-body">
    <ng-form class="login-form" ng-controller="loginCtrl">

        <div class="login-title" >
            Login
        </div>


        <div class="login-username">
            <!-- have a try ng-required -->
            <input id="login-username" type="text" ng-model="username" placeholder="username" ng-required="">
        </div>


        <div class="login-password">
            <input id="login-password" type="password" ng-model="password" placeholder="password" ng-required="">
        </div>

        <div class="submit-button">
            <input id="submit-button" type="button" name="submitButton" value="Login">
        </div>
    </ng-form>
</div>