<div class="login-container">

    <div class="login-body">
        <!--<ng-form class="login-form" name="login" ng-controller="loginCtrl" ng-submit="login()">-->

            <!--<div class="login-title" >-->
                <!--<span id="login-title">Login</span>-->
            <!--</div>-->
    <!--&lt;!&ndash;-->
            <!--<div class="error-msg"  class="ng-hide">-->
                <!--<span id="error-msg">{{error-msg}}</span>-->
            <!--</div>-->
    <!--&ndash;&gt;-->
            <!--<div class="login-username">-->
                <!--&lt;!&ndash; have a try ng-required &ndash;&gt;-->
                <!--<input id="login-username" type="text" ng-model="username" placeholder="Username" ng-required="">-->
            <!--</div>-->


            <!--<div class="login-password">-->
                <!--<input id="login-password" type="password" ng-model="password" placeholder="Password" ng-required="">-->
            <!--</div>-->

            <!--<div class="submit-button">-->
                <!--<input id="submit-button" type="button" name="submitButton" value="Login" ng-disabled="login.$invalid">-->
            <!--</div>-->

        <!--</ng-form>-->
    </div>
</div>