<div class="login-container" ng-controller="loginCtrl">
    <div class="login-body">
        <form class="login-form" name="login-form" ng-controller="loginCtrl" >

            <div class="login-title">
                <span id="login-title">Login</span>
            </div>

            <div class="error-msg">
                <span id="error-msg">{{errorMsg}}</span>
            </div>

            <div class="login-username">
                <!-- have a try ng-required -->
                <input id="login-username" type="text" ng-model="username" placeholder=" Username" ng-required>
            </div>


            <div class="login-password">
                <input id="login-password" type="password" ng-model="password" placeholder=" Password" required>
            </div>

            <div class="submit-button">
                <button id="submit-button" type="submit" ng-click="login()" ng-disabled="login-form.$invalid">Login</button>
            </div>

        </form>
    </div>
</div>