<div class="root-container" ng-controller="rootCtrl">
    <div class="root-header">
        <img src="../assets/images/src/app/logo.png">
        <div class="" ng-model="loginName">
            {{loginName}}
        </div>
        <div class="datetime" ng-model="loginDate">
            {{loginDate| date: 'MM/dd/yyyy hh:mm:ss a EEEE'}}
        </div>
        <button class="log-out btn btn-default" ng-click="logout()" style="outline: none">Log Out</button>
    </div>

    <div class="content">
        <div class="root-sidebar">
            <ul>
                <li ui-sref-active="active"><a ui-sref="root.overview"><span class="glyphicon glyphicon-home"></span> Overview</a></li>
                <a ui-sref="root.work"><li ui-sref-active="active"><span class="glyphicon glyphicon-th"></span> Work</li></a>


                <a>
                    <li ui-sref-active="active" ng-mouseenter="show = true" ng-mouseleave="show = false"><span class="glyphicon glyphicon-file"></span> Producer
                        <ul class="subMenu" ng-if="show" >
                            <a ui-sref="root.video"><li><span class="glyphicon glyphicon-play-circle"></span> Vedio</li></a>
                            <a ui-sref="root.map"><li><span class="glyphicon glyphicon-map-marker"></span> Map</li></a>
                            <a ui-sref="root.todoList"><li><span class="glyphicon glyphicon-th-list"></span> Todolist</li></a>
                        </ul>
                    </li>

                </a>



                <a ui-sref="root.contact"><li ui-sref-active="active"><span class="glyphicon glyphicon-envelope"></span> Contact</li></a>
            </ul>
        </div>
        <div class="root-content" ui-view></div>
    </div>

</div>

