<div class="works-container" ng-controller="workCtrl">
    <div class="works-header form-inline form-group">
            <button class="select btn btn-primary">Select design</button>
            <button class="select btn btn-danger">Add Item</button>
            <input type="button" class="btn btn-warning" ng-click="searchReset()" value="Reset">
            <input type="search" class="form-control" ng-model="search.comment" placeholder="Comment">
            <input type="search" class="form-control" ng-model="search.like" placeholder="Like">
            <input type="search" class="form-control" ng-model="search.author" placeholder="Author">
            <input type="search" class="form-control" ng-model="search.title" placeholder="Name">
    </div>
    <div class="works-container-card" ng-show="true">
        <div class="works-content" ng-model="workFile">
            <div class="work-tiles animate-repeat" ng-repeat="work in workFile.works | filter:search as result">
                <img class="work-image" src="{{work.image}}">
                <div class="work-title">{{work.title}}</div>
                <div class="work-author">{{work.author}}</div>
                <div class="work-like">{{work.like}}</div>
                <div class="work-comment">{{work.comment}}</div>
                <div class="edit-delete"><a ui-sref="root.work">Edit</a> | <a ui-sref="root.work">Delete</a></div>
            </div>
            <div class="animate-repeat" ng-if="result.length == 0">
                <img src="../assets/images/src/app/No-results-found.jpg">
            </div>
        </div>
    </div>
    <div class="works-container-list" ng-show="true">

    </div>
</div>