<div class="works-container" ng-controller="workCtrl">
    <div class="works-header form-inline form-group">

        <div class="btn-group" uib-dropdown is-open="status.isopen">
            <button class="select btn btn-primary" id="select-design" uib-dropdown-toggle style="outline: none">Select design <span class="caret"></span></button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="select-design">
                <li role="menuitem"><a ng-model="displayModel" uib-btn-radio="'card'">Card</a></li>
                <li role="menuitem"><a ng-model="displayModel" uib-btn-radio="'list'">List</a></li>
            </ul>
        </div>

        <button class="select btn btn-danger" style="outline: none" ng-click="addItem()">Add Item</button>
        <input type="button" class="btn btn-warning" ng-click="searchReset()" value="Reset" style="outline: none">
        <input type="search" class="form-control" ng-model="search.comment" placeholder="Comment">
        <input type="search" class="form-control" ng-model="search.like" placeholder="Like">
        <input type="search" class="form-control" ng-model="search.author" placeholder="Author">
        <input type="search" class="form-control" ng-model="search.title" placeholder="Name">
    </div>

    <div>
        <script type="text/ng-template" id="myModalContent.html"></script>
    </div>

    <div class="works-container" ng-model="workFile">

        <div class="works-content-card" ng-show="displayModel === 'card'">
            <div class="work-tiles animate-repeat" ng-repeat="work in workFile.works | filter:search as result">
                <img class="work-image" ng-src="{{work.image}}">
                <div class="work-title" ng-bind="work.title"></div>
                <div class="work-author" ng-bind="work.author"></div>
                <div class="work-like" ng-bind="work.like"></div>
                <div class="work-comment" ng-bind="work.comment"></div>
                <div class="edit-delete"><a ui-sref="root.work">Edit</a> | <a ui-sref="root.work" ng-click="workDelete($index)">Delete</a></div>
            </div>
            <div class="animate-repeat" ng-if="result.length == 0">
                <img src="../assets/images/src/app/No-results-found.jpg">
            </div>
        </div>
    </div>

    <div class="works-container" ng-model="workFile">
        <div class="works-content-list" ng-show="displayModel === 'list'">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th><a class="works-content-list-head" ng-click="reverse=!reverse;order('title', reverse)">Name</a></th>
                        <th><a class="works-content-list-head" ng-click="reverse=!reverse;order('author', reverse)">Author</a></th>
                        <th><a class="works-content-list-head" ng-click="reverse=!reverse;order('like', reverse)">Like</a></th>
                        <th><a class="works-content-list-head" ng-click="reverse=!reverse;order('comment', reverse)">Comment</a></th>
                        <th>Modify</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="animate-repeat" ng-repeat="work in workFile.works | filter:search as result">
                        <th ng-bind="work.title"></th>
                        <th ng-bind="work.author"></th>
                        <th ng-bind="work.like"></th>
                        <th ng-bind="work.comment"></th>
                        <th><a ui-sref="root.work" ng-click="workEdit()">Edit</a></th>
                        <th><a ui-sref="root.work" ng-click="workDelete($index)">Delete</a></th>
                    </tr>
                </tbody>
            </table>
            <div class="animate-repeat" ng-if="result.length == 0">
                <img src="../assets/images/src/app/No-results-found.jpg">
            </div>
        </div>

    </div>

</div>