.login-container {
    background-image: url("../images/src/app/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    height:100vh;
    font-size: 15px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    box-sizing: border-box;
}

.login-body {
    /*border:1px  white;*/
    width: 40%;
    height:40%;
    position: relative;
    margin: auto;
    transform: translateY(50%);

}

.login-body div {
    width: 60%;
    margin: 5px auto;
    padding: 10px 0px 10px 0px;
}

.login-form input{
    width: 100%;
    border-radius: 5px;
    border: 0px;
    height: 2vw;
}

.login-title {
    color: white;
    border-bottom:1px solid white;
    padding-bottom: 20px;
    font-size: 20px;
}

#submit-button {
    opacity: 0.7;
    background-color: lightgreen;
    color:white;
}


