body {
    background-image: url("../images/src/app/background.jpg");
    max-width:100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;

}
.login-body {
    position: absolute;
    left:45%;
    top: 25%;
    text-align: center;
}
.login-form {

}
.login-title {
    color: #ffffff;
}
.login-username {

}
.login-password {

}